html {
    --bg-color : #352e5f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 280px auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navbar {
    width: 100%;
    height: 100%;
    background: #FFC375;
    border-right-style: solid;
    border-right-color: rgb(0, 0, 0);
    border-right-width: 2px;
    overflow-y: auto;
}

.scrollbar {
    scrollbar-color: #000000 #ffb14b;
    scrollbar-width: thin;
}

header {
    padding: 5px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: rgb(69, 61, 116);
    border-bottom-style: solid;
    border-bottom-color: var(--bg-color);
}

#navbar li {
    border-bottom-style: solid;
    border-bottom-color: var(--bg-color);
    border-bottom-width: 2px;
    padding: 10px;
}

.nav-link {
    font-size: 20px;
    color: var(--bg-color);
    text-decoration-line: none;
}

#main-doc {
    width: 100%;
    height: 100%;
    color: white;
    overflow-y: auto;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin: 10px 0 20px 0;
}

h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 10px 0;
}

hr {
    color: #6a60a5;
    margin: 20px 0;
}

.margin {
    margin: 5px 0;
}

#top {
    display: flex;
    flex-direction: horizontal;
    width: 100%;
    height: 200px;
    background-color: #605499;
}

img {
    max-width: 90%;
    max-height: 90%;
}

#slogan {
    margin: auto 0;
    text-align: center;
    font-size: 60px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#documentation {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    width: 100%;
    height: auto;
    padding: 2% 2%;
    background: var(--bg-color);
    padding: 40px;
}

.main-section {
    margin-bottom: 50px;
}

#documentation ul {
    padding-left: 2%;
}

pre {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#1a133a73;
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #FFC375;
}

pre code {
    font-family: 'Courier New', Courier, monospace;
    background-color:#1a133a00;
    color: #eed4b1;
    border-radius: 2px;
    font-size: 16px;
}

 code {
    font-family: 'Courier New', Courier, monospace;
    background-color:#1a133a73;
    color: #eed4b1;
    border-radius: 2px;
    font-size: 16px;
}